 
@import './assets/sass/function';

@import './assets/sass/global';

@import './assets/sass/typography';

@import './assets/sass/welcome';

@import './assets//sass/signup';

@import './assets/sass/addAFirend';

@import './assets/sass/friendList';